/*sample portfolio*/

* {
  /* To reset default browser properties */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Times New Roman", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --largeSize1: 28px;
  --midSize1: 22px;
  --smallSize1: 15px;
}

body {
  width: 100%;
  /*background:linear-gradient(#9F31FF, #FF002D, #FFC500);*/
  background: pink;
  background-size: cover;
}

/* portfolio container */
main {
  width: 95%;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px 15px;
}

/* for all sections */
.section {
  width: 100%;
  padding: 25px;
  margin: 20px 0px;
  border: 2px solid rgba(200, 200, 200, 0.3);
  background-color: rgba(255, 255, 255, 0.4);
}

#nav-heading {
  font-size: 30px;
  margin: 10px;
}

/* for large headings */
.heading {
  font-size: var(--largeSize1);
  text-align: center;
  margin-bottom: 20px;
}

/* for sub headings */
.sub-heading {
  font-size: var(--midSize1);
  margin: 10px 0px;
}

#hero-name {
  margin-top: 10px;
}

/* navigation bar */
#nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(200, 200, 200, 0.4);
  border-bottom: 3px solid #cecece;
}

/* nav menus */
#nav-items a {
  display: none;
}

a {
  text-decoration: none;
}

/* hero section */
#hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

#profile-pic-container {
  height: 200px;
  width: 200px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

#profile-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* theme*/
.theme {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px white;
  cursor: pointer;
}

#theme1 {
  background-color: pink;
}

#theme2 {
  background-color: coral;
}

#theme3 {
  background-color: #0c0705;
}

/* about section */
#about-section {
  text-align: center;
}

/* about section content */
#about-section p {
  font-size: var(--smallSize1);
  margin-bottom: 5px;
}

/* skills and projects section container */
#skills-projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px 0px;
}

#skill-icons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* projects container */
.project-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

.project-description p {
  font-size: var(--smallSize1);
}

.skill-icons {
  width: 60px;
}

.project-icons {
  width: 60px;
}

/* contact section starts */

/* contact-form */
#contact-form {
  width: 100%;
  margin: 0px auto;
}

/* input fields */
#full-name,
#email-id,
#message {
  width: 100%;
  margin: 5px 0px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

/* input fields and labels container */
.input {
  margin: 10px 0px;
}

label {
  font-size: var(--smallSize1);
  font-weight: 550;
}

textarea {
  resize: none;
}

/* connect button*/
#connect-button {
  background-color: skyblue;
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#connect-button:active {
  background-color: darkturquoise;
}

/* For large devices */
@media (min-width: 920px) {
  main {
    padding: 20px 20px;
  }

  #nav-bar {
    justify-content: space-between;
  }

  #nav-items a {
    display: inline-block;
    text-decoration: none;
    font-size: var(--smallSize1);
    font-weight: 500;
    color: black;
    margin: 0px 5px;
    padding: 8px 10px;
    border-radius: 2px;
  }

  #nav-items a:hover {
    background-color: white;
  }

  #hero-section {
    flex-direction: row;
  }

  #skills-projects {
    flex-direction: row;
  }

  #skills-section {
    display: inline-block;
    width: 30%;
  }

  #projects-section {
    display: inline-block;
    width: 60%;
  }

  #contact-form {
    width: 95%;
  }
}
